.jumbotron {
  background-color: #7aac39;
  color: black;
  margin-top: 100px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reservar {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #7aac39;
  margin-top: 100px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.btn-reservar {
  color: #1c48c2; }

.row-header {
  margin-top: 560x;
  margin-bottom: 50px; }
