$yellow: rgb(122, 172, 57);
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(100px, 0px)
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $yellow;
    @include margenes(100px, 0px)
}

.footer-address-icon {
    padding-right: 10px;
}

.btn-reservar {
    color: rgb(28, 72, 194);
}

.row-header {
    @include margenes(560x, 50px)
}